.etch-a-sketch-border {
  border: 50px solid red;
  background-color: red;
  border-radius: 10px;
  height: 600px;
  width: 500px;
  margin: auto;
}

.etch-a-sketch-screen {
  width: 500px;
  height: 500px;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-amount), 1fr);
  grid-template-columns: repeat(var(--grid-amount), 1fr);
  height: 100%;
  width: 100%;
}

#userInput {
  
}
