body {
  color: #ffffff;
  margin: auto;
  font-family: sans-serif;
  background-image: url('bg.png');
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 500%;
  margin: -8px;
}

.outer-div {
  display: inline-flex;
}

.options {
  margin-top: 50px;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: auto;
}

.etch-a-sketch-border {
  border: 50px solid red;
  background-color: red;
  border-radius: 10px;

  height: 500px;
  width: 500px;

  display: flex;
  justify-content: center;

  margin: 0
}

.etch-a-sketch-screen {
  width: 500px;
  height: 500px;
  background-color: white;
}


.grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-amount), 1fr);
  grid-template-columns: repeat(var(--grid-amount), 1fr);
  height: 100%;
  width: 100%;
}


.button {
  color: #ffffff;
  background-color: red;

  border: 1px solid transparent;

  cursor: pointer;
  user-select: none;

  width: 170px;
  height: 37px;
  margin-bottom: 10px;
  padding: 8px 16px;

  text-align: center;
  font-size: 12pt;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.dropdown-menu {
  position: relative;
  font-family: Arial;
  width: 170px;
  margin-bottom: 10px;
}

.dropdown-menu select {
  display: none; /*hide original SELECT element:*/
}

.dropdown-menu:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.select-selected {
  background-color: red;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: red;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
